body{
    background-color: #333;
}
#parent-grid{
    width: 900px;
    height: 900px;
    display: flex;
    margin: auto;
}
#main-grid{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    aspect-ratio: 1/1;
    flex-basis: content;
}
#main-grid>div{
    background-color: yellow;
    margin: 2px;
    width: 16px;
    height: 16px;
    aspect-ratio: 1/1;
}
#btn{
    padding: 4px 52px;
    border: 4px solid white;
    color: #fff;
    border-radius: 30px;
    margin: 100px auto;
    background-color: #333;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
